<a href="https://colab.research.google.com/github/torchflash/MMAI831-AIOS-Assignment/blob/main/Tony/AIOS_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Data Upload**

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import statsmodels.api as sm
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
import lightgbm as lgb

In [3]:
csv_url = 'https://drive.google.com/uc?export=download&id=1GPlcEcdy3e6KtS5eiH4lhPV1OjCNwT8_'
df = pd.read_csv(csv_url)
df = df.drop(df.columns[0], axis=1)

In [4]:
seed = 42

In [5]:
sales_train, sales_test = train_test_split(df, test_size=0.25, random_state=seed)

In [6]:
sales_train

     store  billboard  printout  sat  comp  price        sales
82    1656       1074       693   69   931     93  17022.74793
991   1775       1084       853   65   457     97  16735.91408
789   1961       1137       367   74   737     99  21907.37388
894   1904        985       474   65   798     88  17377.57092
398   2003        656       923   71   704    105  14277.05517
..     ...        ...       ...  ...   ...    ...          ...
106   1775       1164       601   72   741     92  20119.79590
270   1923        590       832   71   752    107  11513.32661
860   1868        880       766   66   982     96  16802.64631
435   2401        872      1387   68   792    101  18278.74176
102   2016       1020       586   74   789    100  17054.67275

[750 rows x 7 columns]

In [7]:
sales_test

     store  billboard  printout  sat  comp  price        sales
521   1964       1192       325   62  1113    100  19189.31116
737   1925       1576       926   64   471     96  23297.63778
740   2169       1519       553   73   706    109  23725.85376
660   1685       1418       703   67   713     93  20616.91729
411   1928        496      1032   74  1147    105  10871.76430
..     ...        ...       ...  ...   ...    ...          ...
109   1986        951       787   73   960     94  18094.40635
430   1694       1145       506   74   773     96  18281.03898
77    1819        766       361   60   528     99  13339.80249
84    2212       1138       996   73   633    106  22149.89133
286   1788        847       616   60   541     95  13581.54097

[250 rows x 7 columns]

In [8]:
sales_train['store&sat'] = sales_train['store'] * sales_train['sat']
sales_train['price&sat'] = sales_train['price'] * sales_train['sat']
sales_train['store&price'] = sales_train['store'] * sales_train['price']

In [9]:
sales_train

,store,billboard,printout,sat,comp,price,sales,store&sat,price&sat,store&price
82,1656,1074,693,69,931,93,17022.74793,114264,6417,154008
991,1775,1084,853,65,457,97,16735.91408,115375,6305,172175
789,1961,1137,367,74,737,99,21907.37388,145114,7326,194139
894,1904,985,474,65,798,88,17377.57092,123760,5720,167552
398,2003,656,923,71,704,105,14277.05517,142213,7455,210315
...,...,...,...,...,...,...,...,...,...,...
106,1775,1164,601,72,741,92,20119.79590,127800,6624,163300
270,1923,590,832,71,752,107,11513.32661,136533,7597,205761
860,1868,880,766,66,982,96,16802.64631,123288,6336,179328
435,2401,872,1387,68,792,101,18278.74176,163268,6868,242501
102,2016,1020,586,74,789,100,17054.67275,149184,7400,201600

In [10]:
X_train = sales_train[['store', 'billboard', 'printout', 'sat', 'comp', 'price','store&sat','price&sat','store&price']]
y_train = sales_train['sales']
X_train = sm.add_constant(X_train)

In [11]:
sales_test['store&sat'] = sales_test['store'] * sales_test['sat']
sales_test['price&sat'] = sales_test['price'] * sales_test['sat']
sales_test['store&price'] = sales_test['store'] * sales_test['price']

# **1.Linear Regression**

In [12]:
model1 = sm.OLS(y_train, X_train)

In [13]:
results1 = model1.fit()

In [14]:
X_test = sales_test[['store', 'billboard', 'printout', 'sat', 'comp', 'price','store&sat','price&sat','store&price']]
y_test = sales_test['sales']
X_test = sm.add_constant(X_test)

In [15]:
y_pred = results1.predict(X_test)

In [16]:
mse1 = mean_squared_error(y_test, y_pred)
r21 = results1.rsquared
mapd1 = mean_absolute_percentage_error(y_test, y_pred) * 100

# Calculate AIC and BIC
n = len(y_train)  # Number of samples
k = X_train.shape[1]  # Number of features + 1 (including the constant)
llf = results1.llf  # Log-likelihood of the model

aic1 = -2 * llf + 2 * k  # AIC
bic1 = -2 * llf + np.log(n) * k  # BIC

print(f"Mean Squared Error (MSE): {mse1}")
print(f"R-squared (R2): {r21}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd1}")
print(f"AIC: {aic1}")
print(f"BIC: {bic1}")

Mean Squared Error (MSE): 1108160.0424137525
R-squared (R2): 0.923165820656374
Mean Absolute Percentage Difference (MAPD): 5.310043053406448
AIC: 12557.448535250345
BIC: 12603.649267315648

In [17]:
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.923
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     987.9
Date:                Thu, 25 May 2023   Prob (F-statistic):               0.00
Time:                        15:39:32   Log-Likelihood:                -6268.7
No. Observations:                 750   AIC:                         1.256e+04
Df Residuals:                     740   BIC:                         1.260e+04
Df Model:                           9
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -7928.6215   1.41e+04     -0.561      0.575   -3.57e+04    1.98e+04
store          10.5287      3.788      2.780      0.006       3.093      17.964
billboard      10.9246      0.158     69.254      0.000      10.615      11.234
printout        0.0312      0.151      0.206      0.837      -0.266       0.328
sat           265.6908    178.351      1.490      0.137     -84.444     615.826
comp           -1.5034      0.195     -7.712      0.000      -1.886      -1.121
price        -159.3527    132.976     -1.198      0.231    -420.407     101.702
store&sat      -0.0282      0.032     -0.884      0.377      -0.091       0.034
price&sat      -0.0755      1.640     -0.046      0.963      -3.295       3.144
store&price    -0.0170      0.031     -0.549      0.583      -0.078       0.044
==============================================================================
Omnibus:                        0.531   Durbin-Watson:                   2.135
Prob(Omnibus):                  0.767   Jarque-Bera (JB):                0.393
Skew:                           0.029   Prob(JB):                        0.822
Kurtosis:                       3.096   Cond. No.                     9.15e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.15e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

# **2.Lasso**

In [18]:
# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a Lasso regression model
model2 = Lasso(alpha=0.1)  # Adjust the value of alpha as needed

# Train the model
model2.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = model2.predict(X_test_scaled)

# Evaluate the model
mse2 = mean_squared_error(y_test, y_pred)
r22 = r2_score(y_test, y_pred)
mapd2 = mean_absolute_percentage_error(y_test, y_pred) * 100

# Calculate AIC and BIC
n = len(y_test)
p = len(X_test.columns)
rss = np.sum((y_test - y_pred) ** 2)
aic2 = n * np.log(rss/n) + 2 * p
bic2 = n * np.log(rss/n) + p * np.log(n)

print(f"AIC: {aic2}")
print(f"BIC: {bic2}")
print(f"R-squared (R2): {r22}")
print(f"Mean Squared Error (MSE): {mse2}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd2}")

AIC: 3499.131246046227
BIC: 3534.3458552248494
R-squared (R2): 0.9086004951484016
Mean Squared Error (MSE): 1106292.601269455
Mean Absolute Percentage Difference (MAPD): 5.306632906343977

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.600e+08, tolerance: 1.040e+06
  model = cd_fast.enet_coordinate_descent(

# **3.Ridge**

In [19]:
model3 = Ridge()

# Train the model
model3.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model3.predict(X_test)

# Evaluate the model
mse3 = mean_squared_error(y_test, y_pred)
r23 = r2_score(y_test, y_pred)
mapd3 = mean_absolute_percentage_error(y_test, y_pred) * 100

print(f"Mean Squared Error (MSE): {mse3}")
print(f"R-squared (R2): {r23}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd3}")

Mean Squared Error (MSE): 1107992.1868722958
R-squared (R2): 0.9084600790574195
Mean Absolute Percentage Difference (MAPD): 5.309740885336328

# **4.Random Forest**

In [20]:
model4 = RandomForestRegressor()

# Train the model
model4.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model4.predict(X_test)

# Evaluate the model
mse4 = mean_squared_error(y_test, y_pred)
r24 = r2_score(y_test, y_pred)
mapd4 = mean_absolute_percentage_error(y_test, y_pred) * 100

print(f"Mean Squared Error (MSE): {mse4}")
print(f"R-squared (R2): {r24}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd4}")

Mean Squared Error (MSE): 1565457.9018854664
R-squared (R2): 0.8706652499219744
Mean Absolute Percentage Difference (MAPD): 6.3469189868633995

# **5.SVM**

In [21]:
model5 = SVR()

# Train the model
model5.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model5.predict(X_test)

# Evaluate the model
mse5 = mean_squared_error(y_test, y_pred)
r25 = r2_score(y_test, y_pred)
mapd5 = mean_absolute_percentage_error(y_test, y_pred) * 100

print(f"Mean Squared Error (MSE): {mse5}")
print(f"R-squared (R2): {r25}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd5}")

Mean Squared Error (MSE): 12260340.653782932
R-squared (R2): -0.012922859451308666
Mean Absolute Percentage Difference (MAPD): 18.50710396764366

# **6.KNN**

In [22]:
model6 = KNeighborsRegressor(n_neighbors=5)  # Adjust the value of n_neighbors as needed

# Train the model
model6.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model6.predict(X_test)

# Evaluate the model
mse6 = mean_squared_error(y_test, y_pred)
r26 = r2_score(y_test, y_pred)
mapd6 = mean_absolute_percentage_error(y_test, y_pred) * 100

print(f"R-squared (R2): {r26}")
print(f"Mean Squared Error (MSE): {mse6}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd6}")

R-squared (R2): 0.18924155577684
Mean Squared Error (MSE): 9813358.067061016
Mean Absolute Percentage Difference (MAPD): 15.979746532804825

# **7.LightGBM**

In [23]:
# Create a LightGBM regression model
model7 = lgb.LGBMRegressor()

# Train the model
model7.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model7.predict(X_test)

# Evaluate the model
mse7 = mean_squared_error(y_test, y_pred)
r27 = r2_score(y_test, y_pred)
mapd7 = mean_absolute_percentage_error(y_test, y_pred) * 100

print(f"R-squared (R2): {r27}")
print(f"Mean Squared Error (MSE): {mse7}")
print(f"Mean Absolute Percentage Difference (MAPD): {mapd7}")

R-squared (R2): 0.8729748055366161
Mean Squared Error (MSE): 1537503.2177452517
Mean Absolute Percentage Difference (MAPD): 6.281010549713474

In [30]:
MSE = pd.DataFrame({'Models':['Linear','Lasso','Ridge','Random Forest','SVM','KNN','LightGBM'],'MSE':[mse1,mse2,mse3,mse4,mse5,mse6,mse7]})
R2 = pd.DataFrame({'Models':['Linear','Lasso','Ridge','Random Forest','SVM','KNN','LightGBM'],'R2': [r21,r22,r23,r24,r25,r26,r27]})
MAPD = pd.DataFrame({'Models':['Linear','Lasso','Ridge','Random Forest','SVM','KNN','LightGBM'],'MAPD': [mapd1,mapd2,mapd3,mapd4,mapd5,mapd6,mapd7]})

In [34]:
MSE = MSE.sort_values(by='MSE')
MSE

          Models           MSE
1          Lasso  1.106293e+06
2          Ridge  1.107992e+06
0         Linear  1.108160e+06
6       LightGBM  1.537503e+06
3  Random Forest  1.565458e+06
5            KNN  9.813358e+06
4            SVM  1.226034e+07

In [36]:
R2 = R2.sort_values(by='R2',ascending=False)
R2

          Models        R2
0         Linear  0.923166
1          Lasso  0.908600
2          Ridge  0.908460
6       LightGBM  0.872975
3  Random Forest  0.870665
5            KNN  0.189242
4            SVM -0.012923

In [37]:
MAPD = MAPD.sort_values(by='MAPD')
MAPD

          Models       MAPD
1          Lasso   5.306633
2          Ridge   5.309741
0         Linear   5.310043
6       LightGBM   6.281011
3  Random Forest   6.346919
5            KNN  15.979747
4            SVM  18.507104